.form{
    position: fixed;
    top: 10%;
    left: 35%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    width: 30%;
    height: 50vh;
    background-color: cornsilk;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.show{
    display: flex;
}

.donotshow{
    display: none;
}

.form input{
    margin-bottom: 5%;
    width: 80%;
    height: 15%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: larger;
}


.close{
    margin-left: 90%;
    margin-bottom: auto;
    width: 10%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: red;
}

.close:hover{
    cursor: pointer;
}

.add{
    margin-top: 10px;
    margin-bottom: 20%;
    width: 80%;
    height: 10%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #333;
    color: white;
    font-size: larger;
}